<h1>Collections#index</h1>
<p>Find me in app/views/collections/index.html.erb</p>

<%= link_to "New" , new_collection_path %>

<% @all_collections.each do |collection| %>
<li> <%= link_to collection.name , collection_path(collection) %> 
  <% if (collection.personal == true) %> 
        Personal
  <% else %>
        Public
  <% end %>
</li>
<% end %>