
<h1>My Collections</h1>

<%= link_to "New" , new_collection_path %>
<br><br>
<table>
  <tr>
    <th>Collection</th>
    <th>Type</th>
  <tr/>
<% @all_collections.each do |collection| %>
 <tr>
   <td><%= link_to collection.name , collection_path(collection) %></td>
   <td> <% if (collection.personal == true) and current_user %> 
        Personal
  <% else %>
        Public
  <% end %>
   </td>
  </tr>
<% end %>
   
</table>