
<h1>My Collections</h1>

<%= link_to "New" , new_collection_path %>
<br><br>

<% @all_collections.each do |collection| %>
<li> <%= link_to collection.name , collection_path(collection) %> 
  <% if (collection.personal == true) and current_user %> 
        Personal
  <% else %>
        Public
  <% end %>
</li>
<% end %>