<h1>Collections#show</h1>
<p>Find me in app/views/collections/show.html.erb</p>

<%= link_to "New" , collections_new_path %>

<% @all_collections.each do |collection| %>
  <li> <%= collection.name %> </li>
<% end %>