<div class="row">
  <div class="col-md-4">
  <B>Element</B> <I><%= link_to @element.name, edit_collection_element_path(@collection,@element)  %></I> belongs to <B>Collection </B> <I><%= Collection.find(@element.collection_id).name %></I>
<br><br>

<%= link_to "This Collection", collection_path(@element.collection_id)   %>
  </div>
  <div class="col-md-8">&nbsp;</div>
</div>