<h1>I Have Collected</h1>

<nav>
<% if current_user %>
<p>User Logged In: <%= current_user.email %> </p>
<p><%= link_to "Home" , root_path %>
  <%= link_to "My Collections", collections_path %>
  <%= link_to "Log Out", destroy_user_session_path, method: :delete %>

</p>
<% end %>
</nav>
